@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="/Home/Editing">
    <div class="input-group" style="margin-top:20px">
        <span class="input-group-text">ФИО</span>
        <input type="text" name="Surname" class="form-control" value="@ViewBag.Student.Surname" />
        <input type="text" name="Name" class="form-control" value="@ViewBag.Student.Name" />
        <input type="text" name="Patronymic" class="form-control" value="@ViewBag.Student.Patronymic" />
    </div>
    <div class="row" style="margin-top:25px">
        <div class="col">
            <input type="text" name="State" class="form-control" value="@ViewBag.Student.State" />
        </div>
        <div class="col">
            <input type="text" name="Course" class="form-control" value="@ViewBag.Student.Course" />
        </div>
        <div class="col">
            <label for="Date" class="col-form-label"></label>
            <input type="date" name="Date" class="form-control" value="@ViewBag.Student.Date.ToString("yyyy-MM-dd")" />
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin-top:25px">
            <button style="float:right" type="submit">Сохранить</button>
        </div>
    </div>
    <input type="hidden" name="id" value="@ViewBag.Student.id" />
</form>

<form method="post" action="/Home/Delete">
    <button type="submit" value="@ViewBag.Student.id" name="id" class="link-primary">Удалить</button>
</form>